

<div class="container">
  <div class="row main align-items-center">
    <div class="col">
      <fa-icon [icon]="faChartBar" size="lg"></fa-icon>   <label class="header-label"> Your Statistics</label>
    </div>

    <div class="col">
      <img  class="icon-ranking" src="../../assets/ZL2fFZo.png">
    </div>
    </div>
</div>

<div class="container">
  <div class="row statistic-table ">
    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header"> 34</h3>
        <label class="column-label-description">PIREPs Filed</label>
      </div>
    </div>

    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">-218 FPM</h3>
        <label class="column-label-description">Average Landing Rate</label>
      </div>
    </div>



    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">73:24:10</h3>
        <label class="column-label-description">Hours</label>
      </div>
    </div>


    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">100000</h3>
        <label class="column-label-description">Points</label>
      </div>
    </div>

    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">100000</h3>
        <label class="column-label-description"> Bonus Points</label>
      </div>
    </div>


    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">LPPT</h3>
        <label class="column-label-description">Current Location</label>
      </div>
    </div>



  </div>
</div>

