

.main {
  margin-top: 10px;
  background-color:rgb(233, 231, 231);
  height: 60px;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.header-label {
  margin-left: 10px;
  padding: 0%;
  color: white;
}


.icon-ranking{
  float:  right;
  margin-right: 20px;
}

fa-icon {
  color: white;
}

.statistic-table {
  margin-top: 3px;
  background-color:rgb(233, 231, 231);

}

.statistic-table-column {
  max-width: 110px;
  margin-top: 10px;
  margin-left: 10px;
}

.column-label-header {
  font-size: 25px;
  font-weight: 500;
  max-height: 15px;
}

.column-label-description {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}


.main-booking-table{
  margin-top: 10px;
  background-color:rgb(233, 231, 231);
  height: 50px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 10px;
  max-width: 500px;
  display: inline-flexbox;
}

.booking-table-header {
  align-items: center;
  padding-top: 10px;

}

.main-booking-table-content{
  margin-top: 2px;
  background-color:rgb(233, 231, 231);
  height: 160px;
  margin-right: 10px;
  max-width: 500px;
  display: block;
  text-align: center;
}

.no-booking-message{
  color: white;
  margin-top: 10px;
  font-size: 20px;

}

.btn-primary {
  color: #fff;
  background-color: #5867dd;
  border-color: #5867dd;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-booking{
  display: block;
  width: 100%;

}




