

<div class="container">
  <div class="row main align-items-center">
    <div class="col">
      <fa-icon [icon]="faChartBar" size="lg"></fa-icon>   <label class="header-label"> Your Statistics</label>
    </div>

    <div class="col">
      <img  class="icon-ranking" src="../../assets/ZL2fFZo.png">
    </div>
    </div>
</div>

<div class="container">
  <div class="row statistic-table ">
    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header"> 34</h3>
        <label class="column-label-description">PIREPs Filed</label>
      </div>
    </div>

    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">-218 FPM</h3>
        <label class="column-label-description">Average Landing Rate</label>
      </div>
    </div>



    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">73:24:10</h3>
        <label class="column-label-description">Hours</label>
      </div>
    </div>


    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">100000</h3>
        <label class="column-label-description">Points</label>
      </div>
    </div>

    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">100000</h3>
        <label class="column-label-description"> Bonus Points</label>
      </div>
    </div>


    <div class="col-2 align-self-center">
      <div class="statistic-table-column">
        <h3 class="column-label-header">LPPT</h3>
        <label class="column-label-description">Current Location</label>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-md-4 main-booking-table">
            <div class="booking-table-header">
            <fa-icon [icon]="faPlane" size="lg"></fa-icon>
            <label class="header-label">No bookings</label>
            </div>
          </div>
          <div class="col-md-4 main-booking-table">
            <div class="booking-table-header">
              <fa-icon [icon]="faPlane" size="lg"></fa-icon>
              <label class="header-label">Last Flight</label>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="row">
    <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 main-booking-table-content">
        <label class="no-booking-message"> You don't have fligth booked!</label>
        <div class="btn-booking">
          <button class="btn btn-primary">Current Events</button>
          <button class="btn btn-primary">Book Fligth</button>
        </div>
      </div>

      <div class="col-md-4 main-booking-table-content">
        <label> wadawdjawjdkkawdk</label>
      </div>

    </div>

    </div>

    </div>

  </div>











