.nav-btn {
  background-color: #212529;
  box-sizing: border-box;
  color: #464457;
  margin-right: 10px;
}

.navbar {
  background-color: #212529;
}

.nav-btn:hover {
  background-color: #464457;
  color: white;
}

.nav-btn:active {
  background-color: #5867dd;
}

/** background-color: #5867dd; **/
